{{ define "main" }}
<style>
.wall-item {
	width: 100%;
}	
</style>
<!-- Portfolio -->
<section id="portfolio" class="two">
    <div class="container">
    	<h2>iOS</h2>
    	<br/>
        <div class="row">
            {{ range $i, $sequence :=  (seq 7) }}
            <div class="4u 12u$(mobile)">
                <a href="/mobile/ios_{{ $sequence }}.png" data-featherlight="image">
                    <img src="/mobile/ios_{{ $sequence }}.png" class="wall-item"/>
                </a>
                <br>
            </div>
            {{ end }}
		</div>
		<hr>
		<h2>Android</h2>
		<br/>
        <div class="row">
            {{ range $i, $sequence :=  (seq 7) }}
            <div class="4u 12u$(mobile)">
                <a href="/mobile/android_{{ $sequence }}.png" data-featherlight="image">
                    <img src="/mobile/android_{{ $sequence }}.png" class="wall-item"/>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
