{{ define "main" }}
  <section id="portfolio" class="two">
    <div class="container">
      {{ range .Data.Pages }}
          <div class="row">
            <div class="12u 12u$(mobile)" style="text-align: left; min-height: 200px;">
              <a href="{{.Permalink}}">
                <h2>
                  {{.Title}}
                </h2> 
              </a>
              <!-- <embed src="assets/website.pdf" style="width: 100%; height: 100vh"/> -->
            </div>
          </div>
      {{ end }}
    </div>
  </section>
{{ end }}
