<nav id="nav">
    <ul>
        <li><a href="/" id="top-link" class="skel-layers-ignoreHref"><span >Home</span></a></li>
        <li><a href="/uxs" id="portfolio-link" class="skel-layers-ignoreHref"><span>UX</span></a></li>
        <li><a href="/uis" id="portfolio-link" class="skel-layers-ignoreHref"><span>UI</span></a></li>
        <li><a href="/writings" id="portfolio-link" class="skel-layers-ignoreHref"><span>Writing</span></a></li>
        <li><a href="/about" id="about-link" class="skel-layers-ignoreHref"><span>About Me</span></a></li>
        <li><a href="/contact" id="contact-link" class="skel-layers-ignoreHref"><span>Contact</span></a></li>
    </ul>
</nav>