{{ define "main" }}
    <!-- Intro -->
    <section id="top" class="one dark cover">
    	<div class="container">
    		<header>
    			<h2 class="alt">
    				RAISE OUR LIVES BY <br />
    				LIFTING EACH OTHER
    			</h2>
    		</header>
    	</div>
    </section>
    <!-- Skill Set -->
    <section id="portfolio" class="two">
    	<div class="container">
    		<header>
    			<h2>Specialised In</h2>
    		</header>
    		<div class="row">
    			<div class="3u 12u$(mobile)">
    				DESIGN-TECH THINKING
    			</div>
    			<div class="3u 12u$(mobile)">
    				DESIGN STRATEGY
    			</div>
    			<div class="3u 12u$(mobile)">
    				UX/UI DESIN
    			</div>
    			<div class="3u 12u$(mobile)">
    				LEADERSHIP & TEAM
    			</div>
    		</div>
    	</div>
    </section>
{{ end }}